{% extends 'admin.master.html.twig' %}

{% block title %}Products List!{% endblock %}
{% block stylesheets %}
    {% include 'admin.styles.html.twig' %}
{% endblock %}
{% block topnav %}
    {% include 'admin.nav.html.twig' %}
{% endblock %}    
{% block content %}
    <h3>Create New Purchase</h3>
    {{ include('admin/purchase/_form.html.twig') }}
{% endblock %}

{% block footer %}
    {% include 'admin.footer.html.twig' %}
{% endblock %} 
