{% for message in app.flashes('info')   %}
        <div class="alert alert-success">{{ message }}</div>
{% endfor %}

{% for message in app.flashes('fail')   %}
        <div class="alert alert-danger">{{ message }}</div>
{% endfor %}