<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href=""><h2>Margin Calculator</h2></a>
        <div class="float-right">
        <a href="">Products</a> | 
        <a href="">Purchases</a> | 
        <a href="">Sales</a>

        </div>
    </div>
</nav>