
{% extends 'admin.master.html.twig' %}

{% block title %}Products List!{% endblock %}
{% block stylesheets %}
    {% include 'admin.styles.html.twig' %}
{% endblock %}
{% block topnav %}
    {% include 'admin.nav.html.twig' %}
{% endblock %}    
{% block content %}
    <h1>Edit Product</h1>
    {{ include('admin/product/_form.html.twig', {'button_label': 'Update'}) }}   

{% endblock %}

{% block footer %}
    {% include 'admin.footer.html.twig' %}
{% endblock %} 
